@import "app/utils/mixins";

.container {
  width: 100%;
  height: 100svh;
  padding: em(20);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.logo {
  align-self: flex-start;
  width: em(140);
  height: em(140);
  position: relative;
  will-change: transform;
  transform-origin: center center; // Добавляем для корректного масштабирования из центра

  .img {
    pointer-events: none;
  }
}

.title {
  max-width: em(1000, 52);
  font-size: em(52);
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 3em auto 0;
  will-change: transform, opacity;
  backface-visibility: hidden;

  @include mobile {
    font-size: em(36);
    margin: 4em auto 0;
  }

  span {
    font-weight: 600;
    display: inline-block;
  }
}

.arrow {
  width: em(40);
  height: em(40);
  margin-top: auto;
  will-change: transform, opacity;
  backface-visibility: hidden;
}
