@import "app/utils/mixins";

.container {
  width: 100%;
  padding: em(123);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: em(20);

  @include mobile {
    padding: em(20);
  }
}
