@import "app/utils/mixins";

.previewContainer {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    background: #000;
    border-radius: em(8);

    &:hover {
        .playButton {
            transform: scale(1.1) translate(-50%, -50%);
        }
    }
}

.previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: em(70);
    height: em(48);
    padding: 0;
    border: none;
    background: #FF0033;
    border-radius: em(8);
    cursor: pointer;
    transition: transform 0.2s ease;

    svg {
        width: em(28);
        height: em(28);
        color: white;
    }

    &:hover {
        background: rgb(33, 33, 33);
    }
}
