@import "app/utils/mixins";

.about {
  display: flex;
  padding: 0 em(70);
  gap: em(60);

  @include mobile {
    flex-direction: column;
    padding: 0 em(20);
    gap: em(20);
  }

  .aboutInfo {
    width: 50%;
    padding-left: em(80);

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    .aboutInfoTitle {
      font-size: em(25);
      text-transform: uppercase;
      margin-bottom: em(40);
      font-weight: 500;
      letter-spacing: em(1);
      color: #000;

      @include mobile {
        margin-bottom: em(20);
      }
    }

    .aboutInfoPrice {
      display: flex;
      margin: em(25) 0 em(35);
      flex-direction: column;
      font-size: em(24);
      color: #000;
      font-weight: 300;

      @include  mobile {
        margin: em(10) 0 em(15);
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: em(1);
        background: #eee;
        margin-top: em(35);

        @include mobile {
          margin-top: em(10);
        }
      }

      .price {
        display: flex;
        margin-top: em(5);

        .oldPrice {
          text-decoration: line-through;
          color: #737373;
          font-weight: 500;
        }
      }
    }
  }
}

.videoDetails {
  width: 100%;
  max-width: em(400);
  height: em(800);
  margin: em(40) auto 0;

  @include mobile {
    padding: 0 em(20);
    height: calc(100svh - em(40));
  }
}

.desc {
  max-width: em(770, 14);
  width: 100%;
  margin: em(80) auto 0;
  border-top: em(1) solid #eee;
  padding-top: em(60);

  @include mobile {
    padding: em(25) em(20) 0;
  }

  .descTitle {
    font-size: em(28, 14);
    text-align: center;
    margin-bottom: em(40, 28);
    font-weight: 300;
    letter-spacing: em(2);
    color: #000;

    @include mobile {
      margin-bottom: em(20, 28);
    }
  }

  .descWrap {
    font-size: em(15, 14);
    color: #333;
    line-height: 1.8;

    .descTitle {
      font-size: em(13);
      font-weight: 500;
      margin: em(30,13) 0 em(12,13);
      text-align: left;
      text-transform: uppercase;
      letter-spacing: em(1.5);
      color: #737373;
    }

    .descItem {
      font-weight: 300;
      margin-bottom: em(25);
      color: #000;
    }

    .descList {
      list-style: none;
      margin-bottom: em(25);

      li {
        position: relative;
        padding-left: em(15);
        margin-bottom: em(12);
        color: #000;
        font-weight: 300;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: em(10);
          width: em(4);
          height: em(4);
          background: #000;
          border-radius: 50%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.aboutInfoSubtitle {
  font-size: em(14);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: em(2);
  color: #737373;
}
