@import "app/utils/styles";

.about {
  display: flex;
  padding: 0 em(70);

  .img {
    width: 50%;
    object-fit: contain;
  }

  .aboutInfo {
    width: 50%;
    border: 1px solid;
    padding-left: em(80);

    .aboutInfoTitle {
      font-size: em(36);
      text-transform: uppercase;
      margin-bottom: em(30);
    }

    .aboutInfoSubtitle {
      font-size: em(24);
      text-transform: uppercase;
      font-weight: 700;
    }

    .aboutInfoPrice {
      display: flex;
      flex-direction: column;
      margin: em(10) 0;
      gap: em(8);
    }

    .aboutInfoSizeBlock {
      display: flex;
      flex-direction: column;
      gap: em(8);
      margin: em(10) 0;

      .aboutInfoSizeWrap {

        .aboutInfoSizeItem {
          background: transparent;
          border: none;
          font-size: em(18);
          padding: em(2) em(8);
          cursor: pointer;
          border-radius: em(2);

          &:hover {
            background: #eaeaea;
          }
        }
      }
    }

    .aboutInfoColorsBlock {
      display: flex;
      flex-direction: column;
      gap: em(8);
      margin: em(10) 0;

      .aboutInfoColorsWrap {

        .aboutInfoColorsItem {

        }
      }
    }

    .aboutInfoBuyBtn {
      background: #0071e3;
      border: none;
      color: #fff;
      font-size: em(17);
      padding: em(11) em(21);
      border-radius: em(980);
      cursor: pointer;
      margin-top: em(50);
    }
  }
}

.desc {
  padding: em(20, 14) 0;
  font-size: em(14);
  max-width: em(570, 14);
  width: 100%;
  margin: 0 auto;

  .descTitle {
    font-size: em(20, 14);
    text-align: center;
    margin-bottom: em(20, 20);
  }

  .descWrap {

    .descTitle {
      font-size: em(18);
      font-weight: 600;
      margin: em(10,18) 0;
      text-align: left;
    }

    .descItem {
      font-weight: 400;
      margin-bottom: em(20);
    }

    .descList {
    }


  }
}
