@import "app/utils/mixins";

.languageSwitcher {
    display: flex;
    gap: em(8);

    @include mobile {
        margin-top: em(20);
    }
}

.languageButton {
    background: none;
    border: none;
    padding: em(4) em(8);
    cursor: pointer;
    font-size: em(14);
    color: #666;
    transition: color 0.3s ease;

    &:hover {
        color: #000;
    }

    &.active {
        color: #000;
        font-weight: bold;
    }
}
